{% extends "experts.html" %}
{% block content %}
<div class="content">
<h4 id="name_protect">Защита чести, достоинства, деловой репутации</h4>
	<p> По статистике, среди речевых преступлений чаще всего в рассматриваемых судом делах фигурируют именно дела о защите чести и достоинства граждан, а также деловой репутации граждан и юридических лиц. <br />
Честь - это объективная оценка личности, определяющая отношение общества к гражданину или юридическому лицу. Достоинство - внутренняя самооценка личности, осознание своих личных качеств, способностей, мировоззрения. Унижение чести, достоинства и деловой репутации – сообщение не соответствующих действительности негативных сведений о физическом или юридическом лице.
<br />
Эксперт-лингвист устанавливает содержание спорного высказывания на наличие/отсутствие негативной информации о лице (лицах), способ выражения негативной информации: оценочное суждение (мнение), утверждение о фактах.
</p>
	<p> ст.152 ГК РФ, Защита чести, достоинства и деловой репутации; ст. 128.1 УК РФ «Клевета», ст. 298.1 УК РФ «Клевета в отношении судьи, присяжного заседателя, прокурора, следователя, лица, производящего дознание, судебного пристава».</p>
	<h5>Вопросы эксперту:</h5>
	<ul>
		<li>Содержат ли следующие фрагменты текста публикации ... сведения, негативно характеризующие истца ..., если да, то какие именно, в чем их негативный характер (заявление о нарушении действующего законодательства, совершении нечестного поступка, неправильном, неэтичном поведении в личной, общественной или политической жизни, недобросовестности при осуществлении производственно-хозяйственной и предпринимательской деятельности, нарушении деловой этики или обычаев делового оборота, либо иное)?</li>
		<li>Какие слова, фразы и выражения использованы в данном материале для создания негативного образа?</li>
		<li>В какой форме выражены указанные сведения: утверждения о фактах, предположения, оценочного суждения автора, иной, допускает ли форма указанных сведений их проверку на соответствие действительности?</li>
	</ul>
	<h5>Пример 1</h5>
	<p> источник: http://rusexpert.ru/expertise.html <br />
	ссылка:  http://rusexpert.ru/assets/files/expertizy/3.pdf </p>
	<p> Высказывание: « Скажем, в договоре между администрацией экс-мэра А. Дёмина и коммерсантом Д. Алихановым сумма аренды составляла 113 рублей 72 копейки за квадратный метр, причём только половина её реально поступала в бюджет Петрозаводска, потому как другая часть определялась в виде компенсации за ремонт арендуемого Алихановым здания. » <br />
Информация: Д. Алиханов в период времени, предшествующий публикации исследуемого текста, заключил с органами муниципальной власти Петрозаводска сделку аренды одного из названных в исследуемом тексте зданий («Карелия-Маркет» либо «Универсам Ритм»), согласно условиям которой сумма аренды составляла 113 рублей 72 копейки за квадратный метр, причем половина указанной суммы не подлежала выплате, будучи определена по условиям сделки как компенсация за ремонт арендуемого здания. <br />
Форма: утверждение о фактах <br />
Вывод: Языковая форма утверждения о фактах допускает проверку информации на соответствие действительности. В том случае, если приведенное выше утверждение о фактах не соответствует действительности, оно может быть признано судом порочащим в отношении Д. Алиханова, так как составляет фактическую основу негативных в отношении последнего оценочных суждений, содержащих обвинения Д. Алиханова в аморальном поведении, неэтичности в общественной жизни, а также, возможно, в нарушении действующего законодательства. </p>
	<h5>Пример 2</h5>
	<p> источник: http://rusexpert.ru/expertise.html <br />
	ссылка: http://rusexpert.ru/assets/files/expertizy/3.pdf</p>
	<p> Высказывание:  Сейчас невозможно ответить на вопрос: почему прежний мэр Петрозаводска А. Дёмин оказался столь щедрым к бизнесмену Д. Алиханову, ныне первому вице-спикеру парламента Карелии, но всем понятно, что нужно прекратить подобную благотворительность за счёт горожан. ». <br />
Информация: автор высказывает свое ироническое отношение к действиям Д. Алиханова в рамках указанной сделки; действия Д. Алиханова как арендатора в рамках указанной сделки представляются как противоречащие интересам жителей Петрозаводска. С точки зрения любого дееспособного гражданина, подобный образ действий негативно характеризует Д. Алиханова как лицо, действующее вопреки интересам общества, тем самым ведущее себя аморально, проявляющее неэтичность в общественной жизни, а также, возможно, нарушающее действующее законодательство. <br />
Форма: негативнооценочное суждение <br /> 
Вывод: Оценочные суждения как таковые отражают мнение говорящего и не могут быть проверены на соответствие действительности. Однако оценочные суждения также могут быть признаны судом порочащими в отношении определенного лица, если основаны на ложном утверждении о фактах, а следовательно, лишены фактической основы, являются преувеличенными и чрезмерными (в терминах Европейского суда по правам человека).
Проверка сведений на соответствие действительности во всех случаях выходит за пределы компетенции экспертов-лингвистов, относится к компетенции суда. </p>
</div>
{% endblock content %}
