{% extends "experts.html" %}
{% block content %}
<div class="content">
<h4 id="threat">Дела об угрозе</h4>
	<p> Наряду с клеветой и оскорблением угроза является одной из форм психологического давления. Правовой базой для выявления признаков угрозы лингвистического характера являются статья 119 УК РФ («Угроза убийством или причинением тяжкого вреда здоровью») и статья 163 УК РФ («Вымогательство»). Угроза – это «словесно, письменно или другим способом выраженное намерение нанести физический, материальный или иной вред какому-либо лицу или общественным интересам» </p>
	<h5>Вопросы эксперту:</h5>
	<ul>
		<li>1. Присутствуют ли лингвистические признаки угрозы в исследуемом материале? Если да, то какими средствами они выражены?</li>
		<li>2. В каких фразах, выражениях, фрагментах исследуемого материала присутствует явная и/или скрытая угроза?</li>
		<li>3. Присутствуют ли в исследуемом материале любые формы словесного принуждения или оказания давления?</li>
		<li>4. Относится ли фраза «…» или выражение «…», содержащее угрозу, к конкретному лицу?</li>
	</ul>
	<h5>Пример 1</h5>
	<p> источник: <br />
ссылка: <br />
Высказывание:  текст примера отсуствует <br />
Вывод: </p>
</div>
{% endblock content %}
