{% extends "main.html" %}
{% block content %}
	<div class="inf">		
	<div class="submenu"> 
		<nav>
			<ul class="submenu" >
				<li class="subchapt"><p font-size="30pt"> Инструкция по использованию сайта</p></li>
				<p>Целевая аудитория: </p>
				<ol class="target">
					<li>Адвокаты</li>
					<li>Судья</li>
					<li>Начинающие эксперты</li>
					<li>Лингвисты, филологи, юристы и все, кто захотят ориентрироваться в области</li>
				</ol>
					<li class="subchapt"><p> Авторы </p>
				<li> Автор идеи: Абрамкина Елена Евгеньевна </li>
				<li> Разработчики: Вероника Соседкина, Мезенцева Анастасия </li>
				<li> Контент-менеджеры: </li> </li>
			</ul>
		</nav>
	</div>
	<div class="desc">
		
		</div>
	</div>
{% endblock content %}
		
