{% extends "experts.html" %}
{% block content %}
<div class="content">
Источник: https://studref.com/579622/pravo/sudebnaya_lingvisticheskaya_ekspertiza_reklamnogo_teksta

Спорный текст, который подлежал исследованию
Стоматологическая клиника «Пародонт» разместила около входной двери конструкцию с текстом следующего содержания: «Пародонт. Стоматологическая клиника. Лечение зубов и болезней пародонта, удаление, реставрация, протезирование, специальное обследование».

Вопросы, поставленные перед экспертом
Является ли текст, представленный на конструкции, размещенной у входа с левой стороны в стоматологическую клинику “Пародонт” по адресу: г. Барнаул, ул. Молодежная, 12, рекламным?».
Из текста решения Арбитражного суда Алтайского края, эксперт проанализировал содержательные компоненты текста и установил, что «он не может быть идентифицирован как рекламный».
Алгоритм анализа
В качестве признаков, по которым эксперт «идентифицировал текст», значились следующие:
объект рекламирования, реализуемый через знаки идентификации, изображение (иконические знаки, фотографии и т. п.);
субъект-рекламодатель, представленный через логотип и коммерческое имя, слоган, реквизиты, персонаж, речевые формулы похвалы товару и производителю;
субъект-рекламополучатель — целевая аудитория, потребитель, на которого ориентированы обращение, комплименты и благодарность;
уникальное торговое предложение — то, что должно привлечь внимание потребителя — часто реализуемое через рекламный заголовок;
аргументация, направленная на достижение результата, рациональные аргументы, реализованные в основном тексте;
мотивация — эмоциональные аргументы.

Эксперт в основу своего заключения исследуемого текста положил такую совокупность признаков и делает вывод, что «из шести необходимых компонентов в нем присутствует только два».
Обращает эксперт внимание и на отсутствие выразительных средств и приемов типа «Высококачественное лечение зубов и болезней пародонта; безболезненное удаление; быстрая реставрация, качественное протезирование».

Выводы эксперта: текст не может быть идентифицирован как рекламный.

</div>
{% endblock content %}
