{% extends "experts.html" %}
{% block content %}
<div class="content"> <h3>Автороведческая экспертиза</h3>
	<p > Цель: aнализ особенностей текста как носителя информации о его авторе. </p>
		<p> Автороведческая экспертиза традиционно проводится в целях установления авторства анонимного или псевдонимного текста, а также в случаях, когда автор и исполнитель текста — разные лица. Также экспертом могут быть выявлены социально-биографические характеристики предполагаемого автора, даны общие характеристики текста: тема, сфера функционирования и стиль, форма речи, личный или публичный характер. Экспртиза может быть назначена по таким категориям уголовных дел, как фальсификация доказательств, нарушение авторских и смежных прав, мошенничество, клевета, оскорбление и т.д. </p>
	<h5>Вопросы эксперту:</h5>
	<ul>
		<li>Является ли гр-н Н. автором письменного (машинописного, рукописного, электронного) или устного текста (на фонограмме), содержащегося на представленном носителе?</li>
		<li>Является ли гр-н Н. автором нескольких текстов, соответственно содержащихся на представленных носителях?</li>
		<li>Каковы пол, возраст, образование, родной язык, профессия, род занятий, уровень речевой культуры и языковой компетентности автора текста?</li>
		<li>В каком состоянии находился автор исследуемого текста во время его составления: в обычном или необычном психофизиологическом состоянии (измененном состоянии сознания вследствие алкогольного или наркотического опьянения, стресса, физической усталости, болезненном состоянии и т.п.)?</li>
		<li>Имеются ли в тексте признаки составления письменного текста в необычных условиях, признаки маскировки, намеренного искажения речевых навыков, выполнения текста под диктовку, признаки имитации чужого авторского стиля?</li>
		<li>Имеются ли текстовые совпадения в сравниваемых текстах автора А. и автора Б.?</li>
		<li>Каков объем текстуальных совпадений в сравниваемых текстах автора А. и автора Б.?</li>
		<li>Является ли произведение оригинальным, самостоятельным произведением или имеет место редактирование или иная переработка текста, заимствованного из иных литературных источников?</li>
		<li>Имеются ли в тексте автора А. фрагменты, которые являются пересказом, рефератом или результатом иной переработки текста автора Б.?</li>
		<li>Является ли выражение, фраза, название произведения, часть произведения или произведение в целом оригинальным, самобытным, индивидуально авторским или общеупотребительным?.
	</ul>
</div>
{% endblock content %}
	
