<!DOCTYPE html>
<html lang="ru" class="js">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta content='width=960' name='viewport'>
<title>Виды экспертиз</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/experts.css') }}">

</head>
<body>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>


		<script src="{{ url_for('static', filename='js/1.js') }}"></script>
	<div class="all_exp">
		<div id="hat"> <a href="home"><img alt="Судебная лингвистическая экспертиза" src="{{ url_for('static', filename='images/emblema.png') }}"> </a></div>
		<div class="menu">
			<nav>
				<ul class="topmenu">
					<li class="chapt"> <a href="home"><p class="menu"> Главная</p></a> </li>
					<li class="chapt"><a href="news"><p class="menu"> Новости</p></a> </li>
					<li class="chapt" id="current"><a href="types_of_expertises"><p class="menu">  Виды экспертиз</p></a></li>
					<li class="chapt"><a href="library"><p class="menu"> Библиотека</p> </a></li>
					<li class="chapt"><a href="about"><p class="menu"> О сайте </p></a></li>
					<li class="chapt"><a href="contacts"><p class="menu"> Контакты</p> </a></li>
				</ul>
			</nav>
		</div>

		<div class="inf">
			{% block menu%}
			<div class="vert_menu">
			<nav>
				<ul class="menu">

					<li class="subchapt"><button id='menuParagraph' onClick='menuButtonOnClick()'><div class="block"></div> </button> <a href="author">  <p>Автороведческая экспертиза  </p> </a>

						<div id='menuSubparagraph'>
						<ul class="subsub">
						<li class="subchapt"><a href="identificial"><p class="sub"> Идентификационная экспертиза </p> </a>
						</li>
						<li class="subchapt"><a href="diagnostical"><p  class="sub">Диагностическая экспертиза </p> </a>
						</li>
						</ul>
						</div>
					</li>
				<li class="subchapt"><a href="abuse"><p> Оскорбление</p> </a> 	</li>
				<li class="subchapt"><a href="protect_honor"><p> Защита чести, достоинства, деловой репутации</p></a> </li>
				<li class="subchapt"><a href="extremism"><p>Экстремизм </p> </a></li>
				<li class="subchapt"><a href="corruption"><p>Антикоррупционные дела </p> </a></li>
				<li class="subchapt"><a href="threat"><p>Дела об угрозе </p> </a></li>
				<li class="subchapt"><a href="advertisement"><p>Дела о рекламе и о спорных товарных знаках</p> </a></li>
				</ul>
			</nav>
			</div>
			{% endblock %}

			<div class="content">
			{% block content%}
				<p class="desc">  Выберите тип экспертизы </p>
				<table>
					<tr>
					 	<td> <a href="author"> <p>Автороведческая экспертиза  </p> </a> </td>
					 	<td> <a href="identificial"> <p> Идентификационная экспертиза </p> </a> </td>
						<td> <a href="diagnostical"> <p>Диагностическая экспертиза </p> </a></td>
					</tr>

					<tr class="second">
						<td> 	<a href="abuse"><p> Оскорбление</p> </a> </td>
						<td><a href="protect_honor"><p> Защита чести, достоинства, деловой репутации</p></a></td>
						<td> <a href="extremism"><p>Экстремизм </p> </a> </td>
					</tr>
					<tr>
						<td> <a href="corruption"><p>Антикоррупционные дела </p> </a></td>
						<td> <a href="threat"><p>Дела об угрозе </p> </a> </td>
						<td> <a href="advertisement"><p>Дела о рекламе и о спорных товарных знаках</p> </a></td>
					</tr>
				</table>
			{% endblock %}
			</div>
		</div>
	</div>
	<div class="bottom">
		<p class="bottom">Мезенцева Анастасия Алексеевна, кафедра Фундаментальной и прикладной лингвистики, НГУ, 2020 </p>
	</div>
</body>
</html>

