<!DOCTYPE html>
<html lang="ru" class="no-js">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta content='width=960' name='viewport'>
<title>Виды экспертиз</title>
<link rel="stylesheet" type="text/css" href="css/main.css">
<link rel="stylesheet" type="text/css" href="css/experts.css">

</head>
<body>
		<script src="JS/1.js"></script>
	<div class="all">
		<div id="hat"><img alt="Судебная лингвистическая экспертиза" src="images/emblema.png"></div>
		<div class="menu"> 
			<nav>
				<ul class="topmenu">
					<li class="chapt"> <a href="home"><p class="menu"> Главная</p></a> </li>
					<li class="chapt"><a href="news"><p class="menu"> Новости</p></a> </li>
					<li class="chapt" id="current"><a href="types_of_expertises"><p class="menu">  Виды экспертиз</p></a></li>
					<li class="chapt"><a href="library"><p class="menu"> Библиотека</p> </a></li>
					<li class="chapt"><a href="about"><p class="menu"> О сайте </p></a></li>
					<li class="chapt"><a href="contacts"><p class="menu"> Контакты</p> </a></li>
				</ul>
			</nav>
		</div>
		<div class="inf">
		<div class="vert_menu"> 
			<nav>
				<ul class="menu">
					
					<li class="subchapt"><button id='menuParagraph' onClick='menuButtonOnClick()'><div class="block"></div> </button> <a href="types_of_expertises/author">  <p>Автороведческая экспертиза  </p> </a>
						
						<div id='menuSubparagraph'>
						<ul class="subsub">
						<li class="subchapt"><a href="types_of_expertises/identificial"><p class="sub"> Идентификационная экспертиза </p> </a>
						</li>
						<li class="subchapt"><a href="types_of_expertises/diagnostical"><p  class="sub">Диагностическая экспертиза </p> </a>
						</li>
						</ul>
						</div>
					</li>
				<li class="subchapt"><a href="types_of_expertises/abuse"><p> Оскорбление</p> </a> 	</li>
				<li class="subchapt"><a href="types_of_expertises/protect_honor"><p> Защита чести, достоинства, деловой репутации</p></a> </li>
				<li class="subchapt"><a href="types_of_expertises/extremism"><p>Экстремизм </p> </a></li>
				<li class="subchapt"><a href="types_of_expertises/corruption"><p>Антикоррупционные дела </p> </a></li>
				<li class="subchapt"><a href="types_of_expertises/threat"><p>Дела об угрозе </p> </a></li>
				</ul>		
		</nav>
	</div>
	
	{% block content %}
	
	
	
	
	<div class="content"> <p  class="desc"> Выберите тип экспертизы из списка, представленного слева. Ниже приведена другая классификация экспертиз. </p>		
		<table>
					<tr>
						<td>по количеству экспертов</td>
						<td>по признаку "объем исследования"</td>
						<td>по признаку "время назначения"</td>
						<td>по количеству отраслей знания</td>
						<td>по типу источника</td>
						<td>по типу носителя информации</td>
					</tr>
					<tr class="second">
						<td >единоличная (один эксперт)</td>
						<td>основная</td>
						<td>первичная</td>
						<td>однородная</td>
						<td>экспертиза документного текста, нормативных актов, договоров</td>
						<td>бумага, бумажные документы, бланки, формуляры и формы</td>
						
					</tr>
					<tr>
						<td rowspan="5">комиссионная (несколько экспертов)</td>
						<td rowspan="5">дополнительная (назначается в случае неясности экспертных результатов, назначается те же самые объекты и вопросы, что и при проведении основной)</td>
						<td rowspan="5"> повторная (назначается в случае сомнения в данных первичной)</td>	
						<td rowspan="5">комплексная (описание одного и того же объекта с различных сторон)</td>
						<td>экспертиза рекламного текста</td>
						<td>продукция полиграфии, различной печати, сканирования, копирования, ксерокопирования, других типов тиражирования</td>
						</tr>
					<tr>
						<td >публикации сми</td>
						<td>печати, штампы, их оттиски на бумаге, и другие реквизиты документов</td>
					
										</tr>
					<tr>
						<td >экспертиза текста публикации в блоге</td>
						<td>цифровые носители информации</td>
							</tr>
					<tr>
						
						<td rowspan="2">экспертиза текста публичного выступления</td>
						<td>аналоговые записи формата аудио, видео, радио, кино, или телевизионные записи</td>
	
					</tr>
					<tr>
							<td>любые другие материалы, объекты, на которых задокументированы тексты и текстовые сообщения</td>
					
										</tr>
				</table>
	</div>
	{% endblock %}
		</div>
	</div>	
</body>
</html>

<!--
	 <style>
   .block {
    background: green;
    border-radius: 10px;
    padding: 20px;
    position: relative;
    color: #fff;
   }
   .block::after {
    content: ''; 
    position: absolute; /* Абсолютное позиционирование */
    left: 20px; bottom: -20px; /* Положение треугольника */
    border: 10px solid transparent; /* Прозрачные границы */
    border-top: 10px solid green; /* Добавляем треугольник */
   }
  </style>

-->
