{% extends "experts.html" %}
		{% block menu%}
			<div class="vert_menu">
			<nav>
				<ul class="menu">

					<li class="subchapt"><button id='menuParagraph' onClick='menuButtonOnClick()'><div class="block"></div> </button> <a href="author">  <p>Автороведческая экспертиза  </p> </a>

						<div id='menuSubparagraph'>
						<ul class="subsub">
						<li class="subchapt"><a href="identificial"><p class="sub"> Идентификационная экспертиза </p> </a>
						</li>
						<li class="subchapt"><a href="diagnostical"><p  class="sub">Диагностическая экспертиза </p> </a>
						</li>
						</ul>
						</div>
					</li>
				<li class="subchapt"><a href="abuse"><p> Оскорбление</p> </a> 	</li>
				<li class="subchapt"><a href="protect_honor"><p> Защита чести, достоинства, деловой репутации</p></a> </li>
				<li class="subchapt"><a href="extremism"><p id="curr">Экстремизм </p> </a></li>
				<li class="subchapt"><a href="corruption"><p>Антикоррупционные дела </p> </a></li>
				<li class="subchapt"><a href="threat"><p>Дела об угрозе </p> </a></li>
				<li class="subchapt"><a href="advertisement"><p>Дела о рекламе и о спорных товарных знаках</p> </a></li>
				</ul>
		</nav>
	</div>
	{% endblock %}

{% block content %}

<h4 id="extremism">Экстремизм</h4>
	<p> В медиа-пространстве часто обсуждаются темы международной политики стран, в связи с чем нередко можно встретить негативные высказывания, содержащие отсылки к культурным особенностям разных народов. Некоторые из таких утверждений могут быть причиной обращения в суд по делу нарушения существующего федерального закона от 25.07.2002 N 114-ФЗ "О противодействии экстремистской деятельности" (с изменениями и дополнениями).  <br /> <br />
Экстремистская деятельность (экстремизм): <br />
- насильственное изменение основ конституционного строя и нарушение целостности Российской Федерации; <br />
- публичное оправдание терроризма и иная террористическая деятельность; <br />
- возбуждение социальной, расовой, национальной или религиозной розни; <br />
- пропаганда исключительности, превосходства либо неполноценности человека по признаку его социальной, расовой, национальной, религиозной или языковой принадлежности или отношения к религии; <br />
- нарушение прав, свобод и законных интересов человека и гражданина в зависимости от его социальной, расовой, национальной, религиозной или языковой принадлежности или отношения к религии; <br />
- воспрепятствование осуществлению гражданами их избирательных прав и права на участие в референдуме или нарушение тайны голосования, соединенные с насилием либо угрозой его применения; <br />
- воспрепятствование законной деятельности государственных органов, органов местного самоуправления, избирательных комиссий, общественных и религиозных объединений или иных организаций, соединенное с насилием либо угрозой его применения;
- совершение преступлений по мотивам, указанным в пункте "е" части первой статьи 63 Уголовного кодекса Российской Федерации; <br />
- пропаганда и публичное демонстрирование нацистской атрибутики или символики либо атрибутики или символики, сходных с нацистской атрибутикой или символикой до степени смешения, либо публичное демонстрирование атрибутики или символики экстремистских организаций; <br />
- публичные призывы к осуществлению указанных деяний либо массовое распространение заведомо экстремистских материалов, а равно их изготовление или хранение в целях массового распространения; <br />
- публичное заведомо ложное обвинение лица, замещающего государственную должность Российской Федерации или государственную должность субъекта Российской Федерации, в совершении им в период исполнения своих должностных обязанностей деяний, указанных в настоящей статье и являющихся преступлением; <br />
- организация и подготовка указанных деяний, а также подстрекательство к их осуществлению; <br />
- финансирование указанных деяний либо иное содействие в их организации, подготовке и осуществлении, в том числе путем предоставления учебной, полиграфической и материально-технической базы, телефонной и иных видов связи или оказания информационных услуг.  [из текста федерального закона http://base.garant.ru/12127578/1cafb24d049dcd1e7707a22d98e9858f/]<br /><br />
На  основании этого списка можно выделить следующие основные задачи эксперта-лингвиста и эксперта-психолога для решения вопросов в рамках данного вида экспертиз:<br />
* установление призывов и побуждений;<br />
* установление  признаков  разжигания  розни, возбуждения  вражды (ненависти);<br />
* установление признаков унижения;установление признаков пропаганды;<br />
* установление признаков оправдания какой-либо деятельности;<br />
* установление признаков угрозы;<br />
* обвинение лица в совершении каких-либо действий. [Психолого-лингвистическая экспертиза публичных выступлений (на примере дела об экстремизме) https://elibrary.ru/item.asp?id=17687690]</p>
	<h5>Вопросы эксперту:</h5>
	<ul>
			<li>Содержатся ли в выступлении ... негативные сведения о ..., его деятельности и о его личных деловых и моральных качествах?</li>
			<li>Если да, то в каких конкретно высказываниях содержится негативная информация, и какими языковыми средствами она выражена?</li>
			<li>Имеются ли в информационных материалах признаки проявления явного неуважения к обществу, связанного с оскорблением религиозных чувств верующих, в том числе в местах, специально предназначенных для проведения богослужений, других религиозных обрядов и церемоний?</li>
			<li>Имеются ли в информационных материалах признаки пропаганды исключительности, превосходства или неполноценности человека либо унижения достоинства человека, либо группы лиц по признакам пола, расы, национальности, языка, происхождения, отношения к религии, а равно принадлежности к какой-либо социальной группе?</li>
	</ul>
	<h5>Пример 1</h5>
	<p> ссылка на источник: https://spbu.ru/sites/default/files/01-122-2092.pdf </p>

	Источник: https://studref.com/579622/pravo/sudebnaya_lingvisticheskaya_ekspertiza_reklamnogo_teksta

Спорный текст, который подлежал исследованию
Стоматологическая клиника «Пародонт» разместила около входной двери конструкцию с текстом следующего содержания: «Пародонт. Стоматологическая клиника. Лечение зубов и болезней пародонта, удаление, реставрация, протезирование, специальное обследование».

Вопросы, поставленные перед экспертом
Является ли текст, представленный на конструкции, размещенной у входа с левой стороны в стоматологическую клинику “Пародонт” по адресу: г. Барнаул, ул. Молодежная, 12, рекламным?».
Из текста решения Арбитражного суда Алтайского края, эксперт проанализировал содержательные компоненты текста и установил, что «он не может быть идентифицирован как рекламный».
Алгоритм анализа
В качестве признаков, по которым эксперт «идентифицировал текст», значились следующие:
объект рекламирования, реализуемый через знаки идентификации, изображение (иконические знаки, фотографии и т. п.);
субъект-рекламодатель, представленный через логотип и коммерческое имя, слоган, реквизиты, персонаж, речевые формулы похвалы товару и производителю;
субъект-рекламополучатель — целевая аудитория, потребитель, на которого ориентированы обращение, комплименты и благодарность;
уникальное торговое предложение — то, что должно привлечь внимание потребителя — часто реализуемое через рекламный заголовок;
аргументация, направленная на достижение результата, рациональные аргументы, реализованные в основном тексте;
мотивация — эмоциональные аргументы.

Эксперт в основу своего заключения исследуемого текста положил такую совокупность признаков и делает вывод, что «из шести необходимых компонентов в нем присутствует только два».
Обращает эксперт внимание и на отсутствие выразительных средств и приемов типа «Высококачественное лечение зубов и болезней пародонта; безболезненное удаление; быстрая реставрация, качественное протезирование».

Выводы эксперта: текст не может быть идентифицирован как рекламный.


{% endblock content %}				
