{% extends "main.html" %}
{% block menu %}

				<li class="chapt" > <a href="home"><p class="menu"> Главная</p></a> </li>
				<li class="chapt"><a href="news"><p class="menu"> Новости</p></a> </li>
				<li class="chapt"><a href="types_of_expertises"><p class="menu">  Виды экспертиз</p></a></li>
				<li class="chapt" id="current"><a href="library"><p class="menu"> Библиотека</p> </a></li>
				<li class="chapt"><a href="about"><p class="menu"> О сайте </p></a></li>
				<li class="chapt"><a href="contacts"><p class="menu"> Контакты</p> </a></li>
		{% endblock menu %}
{% block content %}
	<div class="inf"> 
		<img src="{{ url_for('static', filename='images/8.jpg') }}" width=50% height=10%>
		<p class="desc"> Ниже приведен список источников по разделам.</p>
		<ul>
			<li>Оскорбление
			<ol>
				<li>http://www.ling-expert.ru/conference/langlaw1/melikyan_lingexpertiza.html.</li>
				<li>  http://siberia-expert.com/index/v_kafe/0-73 </li>
			</ol>
			</li>
			<li>Идентификационная
				<ol>
				<li> http://rusexpert.ru/assets/files/expertizy/24.pdf </li>
				</ol>
			</li>
			<li>Защита чести, достоинства, деловой репутации
			<ul>
				<li>http://rusexpert.ru/assets/files/expertizy/3.pdf</li>
			</ul>
			</li>
			<li>Экстремизм
			<ul>
				<li>https://studref.com/579622/pravo/sudebnaya_lingvisticheskaya_ekspertiza_reklamnogo_teksta</li>
			</ul>
			</li>
			<li>Экстремизм
			<ul>
				<li> http://j.uniyar.ac.ru/index.php/dnk/article/viewFile/53/55</li>
			</ul>
			</li>
			<li>Дела о рекламе и о спорных товарных знаках
			<ul>
				<li> https://studref.com/579622/pravo/sudebnaya_lingvisticheskaya_ekspertiza_reklamnogo_teksta</li>
			</ul>
			</li>

		</ul>
	</div>
{% endblock content %}
