<!DOCTYPE html>
<html lang="ru" class="no-js">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta content='width=960' name='viewport'>
<title>{{ title }}</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
	<script src="{{ url_for('static', filename='js/1.js') }}"></script>
	<div class="all">
	<div id="hat"><a href="home"><img alt="Судебная лингвистическая экспертиза" src="{{ url_for('static', filename='images/emblema.png') }}">  </a></div>
    <div class="menu"> 
		<nav>
			<ul class="topmenu">
				{% block menu %}

				<li class="chapt" id="current"> <a href="home"><p class="menu"> Главная</p></a> </li>
				<li class="chapt"><a href="news"><p class="menu"> Новости</p></a> </li>
				<li class="chapt"><a href="types_of_expertises"><p class="menu">  Виды экспертиз</p></a></li>
				<li class="chapt"><a href="library"><p class="menu"> Библиотека</p> </a></li>
				<li class="chapt"><a href="about"><p class="menu"> О сайте </p></a></li>
				<li class="chapt"><a href="contacts"><p class="menu"> Контакты</p> </a></li>
		{% endblock menu%}

			</ul>
		</nav>
	</div>
	<!--<div class="navigation"> Здесь будет путь пользователя</div>
	<div class="finder"> Здесь будет поиск по сайту</div>-->
	{% block content %}
    <div class="inf">
		<img class="leftt" src="{{ url_for('static', filename='images/6.jpg') }}">
        <h2>Что такое СЛЭ?</h2>
            <p id="descr"> Судебная лингвистическая экспертиза, также часто называемая просто лингвистической экспертизой, стала выделяться как отдельное направление в конце 90-х гг. XX в. Объектом такой экспертизы являются продукты речевой деятельности, попавших или потенциально попадающих в судебную сферу. Материалы для анализа могут иметь разный объем и различные возможные формы представления, такие как письменные тексты, аудиоматериалы, креолизованные тексты и прочее. Всё к большему количеству судебных дел привлекаются лингвисты-эксперты, осуществляющие анализ текста по специальным методикам и алгоритмам. Работа лингвиста является востребованной, за помощью к нему обращаются с разными вопросами лингвистического характера, решение которых необходимо для выявления нарушения законодательства автором какого-либо текста. </p>
    </div>
	{% endblock %}
	</div>
	</div>
	<footer> </footer>
</body>
</html>
