<!DOCTYPE html>
<html lang="ru" class="js">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta content='width=960' name='viewport'>
<title>Виды экспертиз</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/experts.css') }}">

</head>
<body>
		<script src="{{ url_for('static', filename='js/1.js') }}"></script>
	<div class="all">
		<div id="hat"> <a href="home"><img alt="Судебная лингвистическая экспертиза" src="{{ url_for('static', filename='images/emblema.png') }}"> </a></div>
		<div class="menu">
			<nav>
				<ul class="topmenu">
					<li class="chapt"> <a href="home"><p class="menu"> Главная</p></a> </li>
					<li class="chapt"><a href="news"><p class="menu"> Новости</p></a> </li>
					<li class="chapt" id="current"><a href="types_of_expertises"><p class="menu">  Виды экспертиз</p></a></li>
					<li class="chapt"><a href="library"><p class="menu"> Библиотека</p> </a></li>
					<li class="chapt"><a href="about"><p class="menu"> О сайте </p></a></li>
					<li class="chapt"><a href="contacts"><p class="menu"> Контакты</p> </a></li>
				</ul>
			</nav>
		</div>

		<div class="inf">

			{% block content %}


	<div width="100%">
		<p  class="desc">  Выберите тип экспертизы </p>
		<table>
			<tr>
			 <td> <a href="author">  <p>Автороведческая экспертиза  </p> </a> </td>
			 <td> 			<a href="identificial"><p> Идентификационная экспертиза </p> </a> </td>
						<td>  <a href="diagnostical"><p>Диагностическая экспертиза </p> </a></td>
			</tr>

			<tr class="second">
				<td> 	<a href="abuse"><p> Оскорбление</p> </a> </td>
						<td><a href="protect_honor"><p> Защита чести, достоинства, деловой репутации</p></a></td>
						<td> <a href="extremism"><p>Экстремизм </p> </a> </td>
			</tr>
			<tr>
			<td> <a href="corruption"><p>Антикоррупционные дела </p> </a></td>
				<td> <a href="threat"><p>Дела об угрозе </p> </a> </td>
				<td> <a href="advertisement"><p>Дела о рекламе и о спорных товарных знаках</p> </a></td>
			</tr>

				</table>
	</div>
	{% endblock %}
		</div>
	</div>

<div class="bottom"> <p class="bottom">Мезенцева Анастасия Алексеевна, кафедра Фундаментальной и прикладной лингвистики, НГУ, 2020</p></div>
</body>
</html>

<!--
	 <style>
   .block {
    background: green;
    border-radius: 10px;
    padding: 20px;
    position: relative;
    color: #fff;
   }
   .block::after {
    content: ''; 
    position: absolute; /* Абсолютное позиционирование */
    left: 20px; bottom: -20px; /* Положение треугольника */
    border: 10px solid transparent; /* Прозрачные границы */
    border-top: 10px solid green; /* Добавляем треугольник */
   }
  </style>

-->
