{% extends "experts.html" %}
		{% block menu%}
			<div class="vert_menu">
			<nav>
				<ul class="menu">

					<li class="subchapt"><button id='menuParagraph' onClick='menuButtonOnClick()'><div class="block"></div> </button> <a href="author">  <p>Автороведческая экспертиза  </p> </a>

						<div id='menuSubparagraph'>
						<ul class="subsub">
						<li class="subchapt"><a href="identificial"><p class="sub"> Идентификационная экспертиза </p> </a>
						</li>
						<li class="subchapt"><a href="diagnostical"><p  class="sub">Диагностическая экспертиза </p> </a>
						</li>
						</ul>
						</div>
					</li>
				<li class="subchapt"><a href="abuse"><p> Оскорбление</p> </a> 	</li>
				<li class="subchapt"><a href="protect_honor"><p id="curr"> Защита чести, достоинства, деловой репутации</p></a> </li>
				<li class="subchapt"><a href="extremism"><p>Экстремизм </p> </a></li>
				<li class="subchapt"><a href="corruption"><p>Антикоррупционные дела </p> </a></li>
				<li class="subchapt"><a href="threat"><p>Дела об угрозе </p> </a></li>
				<li class="subchapt"><a href="advertisement"><p>Дела о рекламе и о спорных товарных знаках</p> </a></li>
				</ul>
		</nav>
	</div>
	{% endblock %}

{% block content %}

<h4>Лингвистическая экспертиза по делам о защите чести, достоинства и деловой репутации</h4>

<ul>
	<p>Существует два основных понятия оскорбления: бытовое и юридическое.</p>

		<li> В <i> бытовом понимании </i> оскорбление – это то же, что и обида. </li>
		<li>  В <i> юридическом </i> – это унижение чести и достоинства лица, выраженное в неприличной форме.</li>
	</ul>

<ul>
	<p>Компоненты оскорбления:</p>
	<li> Информация негативна </li>
	<li> Информация распространена (передана третьи лицам). </li>
	<li> Лицо, о котором идет речь, должно быть конкретно определено. </li>
	<li> Информация должна быть в форме утверждений о фактах, а не в форме мнений, предположения, оценки.</li>
</ul>

<ul>
Ответственность за унижение чести, достоинства и деловой репутации предусмотрена статьями:
	<li>152 ГК РФ «Защита чести, достоинства и деловой репутации»</li>
	<li>128.1 УК РФ «Клевета»</li>
</ul>

<ol>
Примеры ситуаций распространения порочащей информации:
	<li> Газета опубликовала статью, в которой сообщается ложная информация о том, что чиновник Иванов берет взятки и уже был за это неоднократно осужден.</li>
	<li> Один сотрудник написал начальнику, что его коллега регулярно опаздывает на работу, вместо работы сидит в социальных сетях, врёт.</li>
</ol>

<ul>
Вопросы для проведения лингвистической экспертизы
	<li> Содержатся ли в статье (высказывании) «...» негативная информация об Х-е?</li>
	<li>В каких конкретно высказываниях содержится негативная информация?</li>
	<li>Можно ли по имеющимся в речевом произведении номинациям установить, что речь идет о конкретном лице?</li>
	<li>Относится ли фраза … к конкретному Х-у? (Адресована ли фраза конкретному Х-у?)</li>
	<li>Если в тексте содержится негативная информация о конкретном Х-е, то в какой форме она выражена: утверждения о фактах или субъективного суждения (мнения, предположения, оценки)?</li>
</ul>

<ul>
В компетенцию лингвиста-эксперта входит:
	<li> Установление отнесенности спорного высказывания к конкретному лицу;</li>
	<li>Определение формы передачи информации (утверждение о фактах/субъективное суждение).</li>
</ul>
<ul>
Не входит:
	<li> Юридическая квалификация фактов;</li>
	<li> Вопросы из области психологии;</li>
	<li> Вопросы из области этики.</li>
</ul>
<h3>Примеры лингвистической экспертизы по делам о защите чести, достоинства, деловой репутации; делам о клевете.</h3>


	<div class="panel-group" id="accordion">
	  <!-- 1 панель -->

		<div class="panel panel-default">
		<!-- Заголовок 1 панели -->
			<div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"> Пример 1   </a>
			</h4>
			</div>
			<div id="collapseOne" class="panel-collapse collapse">

			<!-- Содержимое 1 панели -->
				<div class="panel-body">
					<ul>
						<li> 1. Ссылка на источник: http://rusexpert.ru/assets/files/expertizy/3.pdf </li>
						<li>
							<ul>2. Спорные высказывания:
								<li> «… в договоре между администрацией экс-мэра А. Дёмина и коммерсантом Д. Алихановым сумма аренды составляла 113 рублей 72 копейки за квадратный метр, причем только половина реально поступала в бюджет Петрозаводска, потому как другая часть определялась в виде компенсации за ремонт арендуемого Алихановым здания»;</li>
								<li>«Сейчас невозможно ответить на вопрос, почему прежний мэр Петрозаводска А. Дёмин оказался столь щедрым к бизнесмену Д. Алиханову, ныне первому вице-спикеру парламента Карелии, но всем понятно, что нужно прекратить подобную благотворительность за счет горожан»</li>
							</ul>
						</li>
						<li>
							<ul>
							3. Вопросы, поставленные перед экспертом:
								<li>1. Содержат ли фрагменты текста публикации «Само(НЕ)управление», размещенной в сети Интернет на информационном ресурсе politika-karelia.ru 28.04.2012 как непосредственно в приведенном виде, так и в контексте всего информационного материала «Само(НЕ)управление», сведения, негативно характеризующие истца Д.М. Алиханова, если да, то какие именно, в чем их негативный характер (заявление о нарушении действующего законодательства, совершении нечестного поступка, неправильном, неэтичном поведении в личной, общественной или политической жизни, недобросовестности при осуществлении производственно-хозяйственной и предпринимательской деятельности, нарушении деловой этики или обычаев делового оборота, либо иное)?</li>
								<li>2. В какой форме выражены указанные сведения: утверждения о фактах, предположения, оценочного суждения автора, иной, допускает ли форма указанных сведений их проверку на соответствие действительности?</li>
								<li>3. Методы и/или методика исследования.</li>
							4.	Для разрешения поставленных вопросов использовались методы анализа значений слов, высказываний и текста в целом, разработанные в лингвистической семантике, лингвостилистике, лингвистике текста, словообразовании, в том числе трансформационные. Исследование проводилось в соответствии с методиками лингвостилистического, текстологического, лексико-семантического и семантико-синтаксического анализа русскоязычного текста, рекомендованными к практическому использованию решением Научно-методического совета при Правлении ГЛЭДИС. Поставленные перед комиссией экспертов вопросы взаимосвязаны и разрешались совместно.
							</ul>
						</li>

						<li>
							<ul> <p>5. Алгоритм анализа:</p>
								<li> Установление контекста спорного высказывания: <br>
									Спорный фрагмент «…прежний мэр Петрозаводска А. Дёмин оказался столь щедрым к бизнесмену Д. Алиханову, ныне первому вице-спикеру парламента Карелии, но всем понятно, что нужно прекратить подобную благотворительность за счет горожан» в составе исследуемого текста представляет собой фрагмент высказывания «Сейчас невозможно ответить на вопрос: почему прежний мэр Петрозаводска А. Дёмин оказался столь щедрым к бизнесмену Д. Алиханову, ныне первому вице-спикеру парламента Карелии, но всем понятно, что нужно прекратить подобную благотворительность за счёт горожан».
								</li>
								<li> Определение значений слов, их стилистической окраски:
										<br>По данным «Современного толкового словаря русского языка» С. А. Кузнецова, наречие «столь» является книжным в стилистическом отношении, имеет в современном русском языке значение «в такой степени, настолько, так».
								</li>
								<li> Определение значений слов в контексте:
									<br> Словосочетание столь щедрый в контексте спорного фрагмента анафорически ссылается на сведения, изложенные в предыдущем контексте высказывания, а именно в непосредственно предшествующей ему словесной конструкции «казна Петрозаводска «подарила» арендатору не менее миллиарда рублей».
									<br> По данным «Современного толкового словаря русского языка» С. А. Кузнецова, прилагательное «подобный» имеет в современном русском языке значение «такой, как тот (о котором шла речь)».
									<br> Прилагательное подобный в приведенном значении обладает ярко выраженной местоименной семантикой, является маркером анафорической ссылки на информацию, содержащуюся в предыдущем контексте. Словосочетание подобная благотворительность в контексте спорного фрагмента анафорически ссылается на сведения, изложенные в предыдущем контексте, а именно: в непосредственно предшествующей ему словесной конструкции «казна Петрозаводска «подарила» арендатору не менее миллиарда рублей».
								</li>
								<li> Определение смысла употребления кавычек:
										<ul>По данным «Справочника по правописанию, произношению, литературному
										редактированию» Д. Э. Розенталя, кавычки в современном русском языке используются для выделения:
										<li>непривычных, малоупотребительных слов, на которые автор хочет обратить
											внимание; </li>
											<li>слов, употребляемых в переносном или особом, необычном значении; </li>
											<li>узкоспециальных слов, которые нуждаются в объяснении;</li>
											<li> слов устарелых или, наоборот, совсем новых, если подчеркивается эта их
											особенность; </li>
											<li>слов, употребляемых в ироническом значении;</li>
											<li> слов, употребленных в условном значении (применительно к ситуации или
											контексту.</li>
										</ul> </li>
								<li> Определение значения высказывания:
										<br>С учетом изложенного, словесная конструкция «казна Петрозаводска «подарила» арендатору не менее миллиарда рублей» выражает авторское ироническое отношение к обстоятельствам, изложенным в ее предыдущем контексте, а именно: коммерсант, о котором идет речь (Д. Алиханов, как показано выше), в период времени, предшествующий публикации исследуемого текста, заключил с органами муниципальной власти Петрозаводска некую сделку аренды (выступил арендатором), условия которой позволяют ему получать «миллионные прибыли», в то время как бюджет Петрозаводска «несет потери».
										<br>Сведения о том, какой именно объект был взят Д. Алихановым в аренду, условия которой характеризуются автором как «благотворительность» и «щедрость», содержатся в предыдущем контексте данного абзаца.
										<br>С учетом изложенного выше, Д. Алиханов в последнем приведенном высказывании обозначается как «депутат парламента Карелии», что соотносится с обособленным оборотом «ныне первому вице-спикеру парламента Карелии» в составе спорного высказывания.
										<br>Дополнительные сведения об указанной сделке аренды содержатся в дальнейшем контексте, а именно: в содержащем второй спорный фрагмент высказывании «Скажем, в договоре между администрацией экс-мэра А. Дёмина и коммерсантом Д. Алихановым сумма аренды составляла 113 рублей 72 копейки за квадратный метр, причём только половина её реально поступала в бюджет Петрозаводска, потому как другая часть определялась в виде компенсации за ремонт арендуемого Алихановым здания».
								</li>
								<li> Установление значения второго спорного высказывания аналогичным образом.</li>
								<li> Определение формы высказывания:
									<br>Высказывание-2 представляет собой повествовательное предложение в изъявительном наклонении, в прошедшем времени, при отсутствии маркеров предположительности сообщаемых сведений, содержит информацию фактического типа, а именно: согласно условиям сделки аренды одного из названных в исследуемом тексте зданий сумма аренды составляла 113 рублей 72 копейки за квадратный метр, причем половина указанной суммы не подлежала выплате, будучи определена по условиям сделки как компенсация за ремонт арендуемого здания.
									<br>Таким образом, данная информация выражена в исследуемом тексте в форме утверждения о фактах.
									<br>С учетом изложенного, в высказывании-2 действия Д. Алиханова как арендатора в рамках указанной сделки представляются автором исследуемого текста как иллюстрация (пример) реализации определенной схемы, по которой предприниматель, относящийся к существующему в Петрозаводске «избранному кругу коммерсантов допущенных до владения (аренды) столичным имуществом», извлекает прибыль («снимает денежную дельту») в виде разницы между размером аренды, которую выплачивает в бюджет, и реальной ценой аренды, которую уже в свою очередь платят субарендаторы. Прибыли, полученные Д. Алихановым по этой схеме в рамках сделки аренды одного из названных в исследуемом тексте зданий («Карелия-Маркет» либо «Универсам Ритм»), характеризуются автором как «миллионные». Извлечение Д. Алихановым указанных прибылей связывается автором с потерями, которые несет бюджет г. Петрозаводска.
									<br>Как показано выше, изложение сведений о сделке аренды, заключенной Д. Алихановым, используется в структуре исследуемого текста для обоснования тезиса о том, что во многих случаях органы и должностные лица исполнительной власти Петрозаводска, принимая решения в сфере управления муниципальным имуществом и земельными участками на территории Петрозаводска, не учитывают интересы его жителей.
									<br>По данным «Современного толкового словаря русского языка» С. А. Кузнецова, союзное слово почему выражает в современном русском языке значение «по какой причине, отчего», употребляется в придаточных дополнительных.
									<br>Форма придаточного дополнительного является утвердительной, представляет собой в современном русском языке способ реализации частично скрытых утверждений. В зависимости от типа информации, содержащейся в придаточном дополнительном (фактическая, аналитическая, оценочная и т. д.), это могут быть как утверждения о фактах (как, например, в высказывании «Невозможно ответить на вопрос, почему урожай в этом году оказался меньше прошлогоднего»), так и аналитические или оценочные суждения в утвердительной форме (например, «Я расскажу, почему это плохо») и т. п.
									<br>С учетом изложенного, высказывание-1 содержит выраженное в утвердительной форме оценочное суждение автора исследуемого текста, характеризующее заключенную муниципальными органами власти с Д. Алихановым сделку аренды одного из названных в исследуемом тексте зданий («Карелия-Маркет» либо «Универсам Ритм») как проявление «щедрости» и «благотворительности за счет горожан».
								</li></ul>
						</li>
								<li>
									<ol> <p>6. Выводы экспертов:</p>
										<br>Цитируемые в поставленном перед комиссией экспертов-лингвистов вопросе 1 фрагменты высказываний не допускают их полного понимания, которое было бы независимым от контекста.
										<br>Рассматриваемое в контексте спорного текста «Само(НЕ)управление», высказывание 1 содержит информацию фактического типа, а именно:
										<br>«Д. Алиханов в период времени, предшествующий публикации исследуемого текста, заключил с органами муниципальной власти Петрозаводска сделку аренды одного из названных в исследуемом тексте зданий, согласно условиям которой сумма аренды составляла 113 рублей 72 копейки за квадратный метр, причем половина указанной суммы не подлежала выплате, будучи определена по условиям сделки как компенсация за ремонт арендуемого здания».
										<br>Данная информация выражена в тексте в форме утверждения о фактах.
									<ul>
										На приведенном утверждении о фактах основаны негативные в отношении Д. М. Алиханова оценочные суждения автора, в частности:
										<li> автор высказывает свое ироническое отношение к действиям Д. Алиханова в рамках указанной сделки;</li>
										<li> действия Д. Алиханова как арендатора в рамках указанной сделки представляются как противоречащие интересам жителей Петрозаводска. С точки зрения любого дееспособного гражданина, подобный образ действий негативно характеризует Д. Алиханова как лицо, действующее вопреки интересам общества, тем самым ведущее себя аморально, проявляющее неэтичность в общественной жизни, а также, возможно, нарушающее действующее законодательство.</li>
										<br>Языковая форма утверждения о фактах допускает проверку информации на соответствие действительности. В том случае, если приведенное выше утверждение о фактах не соответствует действительности, оно может быть признано судом порочащим в отношении Д. Алиханова, так как составляет фактическую основу негативных в отношении последнего оценочных суждений, содержащих обвинения Д. Алиханова в аморальном поведении, неэтичности в общественной жизни, а также, возможно, в нарушении действующего законодательства.
										<br>Оценочные суждения как таковые отражают мнение говорящего и не могут быть проверены на соответствие действительности. Однако оценочные суждения также могут быть признаны судом порочащими в отношении определенного лица, если основаны на ложном утверждении о фактах, а следовательно, лишены фактической основы, являются преувеличенными и чрезмерными (в терминах Европейского суда по правам человека).
									</ul></ol>
								</li>
				</ul>
				</div>
			</div>
		</div>
	</div>
{% endblock content %}
