{% extends "experts.html" %}
		{% block menu%}
			<div class="vert_menu">
			<nav>
				<ul class="menu">

					<li class="subchapt"><button id='menuParagraph' onClick='menuButtonOnClick()'><div class="block"></div> </button> <a href="author">  <p>Автороведческая экспертиза  </p> </a>

						<div id='menuSubparagraph'>
						<ul class="subsub">
						<li class="subchapt"><a href="identificial"><p class="sub"> Идентификационная экспертиза </p> </a>
						</li>
						<li class="subchapt"><a href="diagnostical"><p  class="sub">Диагностическая экспертиза </p> </a>
						</li>
						</ul>
						</div>
					</li>
				<li class="subchapt"><a href="abuse"><p> Оскорбление</p> </a> 	</li>
				<li class="subchapt"><a href="protect_honor"><p> Защита чести, достоинства, деловой репутации</p></a> </li>
				<li class="subchapt"><a href="extremism"><p>Экстремизм </p> </a></li>
				<li class="subchapt"><a href="corruption"><p>Антикоррупционные дела </p> </a></li>
				<li class="subchapt"><a href="threat"><p id="curr">Дела об угрозе </p> </a></li>
				<li class="subchapt"><a href="advertisement"><p>Дела о рекламе и о спорных товарных знаках</p> </a></li>
				</ul>
		</nav>
	</div>
	{% endblock %}

{% block content %}

<h4 id="threat">Дела об угрозе</h4>
	<p> Наряду с клеветой и оскорблением угроза является одной из форм психологического давления. Правовой базой для выявления признаков угрозы лингвистического характера являются статья 119 УК РФ («Угроза убийством или причинением тяжкого вреда здоровью») и статья 163 УК РФ («Вымогательство»). Угроза – это «словесно, письменно или другим способом выраженное намерение нанести физический, материальный или иной вред какому-либо лицу или общественным интересам» </p>
	<h5>Вопросы эксперту:</h5>
	<ul>
		<li>1. Присутствуют ли лингвистические признаки угрозы в исследуемом материале? Если да, то какими средствами они выражены?</li>
		<li>2. В каких фразах, выражениях, фрагментах исследуемого материала присутствует явная и/или скрытая угроза?</li>
		<li>3. Присутствуют ли в исследуемом материале любые формы словесного принуждения или оказания давления?</li>
		<li>4. Относится ли фраза «…» или выражение «…», содержащее угрозу, к конкретному лицу?</li>
	</ul>
	<h5>Пример 1</h5>
	<p> источник: <br />
ссылка: <br />
Высказывание:  текст примера отсуствует <br />
Вывод: </p>

{% endblock content %}
